{% extends "base.html" %}
{% load static %}


{% block content %}
<header class="py-5"></header>
<br>
   <!-- REVIEWS SECTION -->
  <!--  (https://mdbootstrap.com/docs/standard/extended/testimonials/)-->

  <section style="color: #000; background-color: #f3f2f2;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8 text-center">
                <h2 class="fw-bold mb-4">Testimonials</h2>
                <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                After shopping at Soilmate Plants, we ask our customers for opinions and photos. Here you can see what people who trust
                us think about us and see what plants actually end up in their homes.</p>
            </div>
        </div>
        <div class="row text-center">
            {% for review in reviews_list %}
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card ReviewsCard" style="margin-bottom: 15px;">
                    <div class="card-body py-4 mt-2" >
                        <h2 class="my-3">{{ review.review_title }}</h2>
                        <div class="d-flex justify-content-center mb-4">
                            {% if review.image %}
                            <img class="shadow-1-strong" width="100" height="100" src="{{ review.image.url }}" alt="{{ review.product }}">
                            {% else %}
                            <img class="shadow-1-strong" width="100" height="100" src="{{ MEDIA_URL }}NoIMG.jpg" alt="{{ review.product }}">
                            {% endif %}
                        </div>
                        <h6 class="font-weight-bold my-3">{{ review.product }}</h6>
                        <p class="mb-2">
                            <i class="fas fa-quote-left pe-2"></i> {{ review.service_review }}
                        </p>
                       
                        <h6 class="font-weight-bold my-3">Rating : {{ review.service_rating }}</h6>
                        <h6 class="font-weight-bold my-3">{{ review.created_at }}</h6>
                        {% if user.is_authenticated and user.username == review.name or user.is_superuser %}
                        <div class="text-center mt-3">
                          <a href="{% url 'edit_review' review.id %}" aria-label="Go to edit review {{ review.id }} page" class=" mx-2 btn btn btn-secondary">Edit</a>
                          <a href="{% url 'delete_review' review.id %}" class="btn btn-danger" data-bs-target="#delete-review-{{ review.id }}" aria-label="Delete">Delete Review</a>        
                        </div>          
                    {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="mx-2 btn text-center btn btn-success">&laquo; PREV
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="mx-2 btn text-center btn btn-success">
                    NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <br>
</section>

<!-- End of testemonies-->

 <!-- END OF REVIEWS SECTION -->
{% endblock %}