{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}


<section class="home-newsletter">
    <div class="row d-flex justify-content-center align-items-center rows"
        style="background-image: url('{{ MEDIA_URL }}home page img/palms.jpg'); background-size: cover;" id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="single">
                    <div class="text-center">
                        <h1 class="text-white">Want to receive a free first delivery?</h1>
                    
                        <h5 class="subscribe d-block mt-3 text-white">Subscribe to our newsletter in order not to miss new arrivals <br />
                            promotions and discounts of our store</h5>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p class="text-center mb-4">
                        <button class="mx-2 btn  btn btn-success"><input type="submit" value="Subscribe"></button>
                        </p>
                    </form>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
   
{% endblock %}