{% extends "base.html" %} {% load static %} {% block content %}

<!-- Design section-->
<header class="py-5" id="Homedesign">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-4 fw-bolder mb-4 text-black">Professional plant arrangement in your home</h1>
                    <p class="lead text-black">You don't have to know anything about plants to live among them.</p>
                    <p class="lead text-black">A landscape designer can come to you and select plants for your space.</p>
                    <ul class="text-black">
                        <li>What does our service include?</li>
                        <li>Space greening project,</li>
                        <li>Selection of plants, pots, stands, and accessories agreed with the investor,</li>
                        <li>Importing, transplanting, and preparing plants,</li>
                        <li>Delivering and placing them on site,</li>
                        <li>Training new caregivers in the care of species that will go to a new home.</li>
                    </ul>
                    <br>
                    <a class="btn btn-lg btn-primary" href="{% url 'contact_view' %}">Contact us</a>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
<img class="img-fluid rounded-3 my-5" src="https://soilmate-plants.s3.amazonaws.com/media/palm%20tree.png" alt="Design Image">
            </div>
        </div>
    </div>
</header>
    
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Our Work</h2>
        </div>
        <div class="row gx-5">
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="{{ MEDIA_URL }}1.jpg" alt="design1">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="{{ MEDIA_URL }}2.jpg" alt="design2">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5 mb-lg-0">
                    <img class="img-fluid rounded-3 mb-3" src="{{ MEDIA_URL }}3.jpg" alt="design3">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="{{ MEDIA_URL }}4.jpg" alt="design4">
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- End of design section-->
    {% endblock %}