{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container" >
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                The new collections are here
            </h1>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container iconsGrid">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                    <img class="img-fluid rounded-circle mb-3 imageComp" src="media/1i.png" alt="..." />
                    <h3>Fully Responsive</h3>
                    <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                    <img class="img-fluid rounded-circle mb-3 imageComp" src="media/2i.png" alt="..." />
                    <h3>Bootstrap 5 Ready</h3>
                    <p class="lead mb-0">Featuring the latest build of the new Bootstrap 5 framework!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <img class="img-fluid rounded-circle mb-3 imageComp" src="media/3i.png" alt="..." />
                    <h3>Easy to Use</h3>
                    <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('media/pexels-antoni-shkraba-7342610.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Fully Responsive Design</h2>
                <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look
                    great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('media/2.jpg')">
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Updated For Bootstrap 5</h2>
                <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 5 is leading the way
                    in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap
                    5!</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                style="background-image: url('media/1.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Easy to Use & Customize</h2>
                <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some
                    deeper customization options. Out of the box, just add your content and images, and your new landing
                    page will be ready to go!</p>
            </div>
        </div>
    </div>
</section>
<!-- Team members secrion-->
<section class="teamMember">
<div class="py-5 team3 bg-light">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
                <h3 class="mb-3">Experienced & Professional Team</h3>
                <h6 class="subtitle font-weight-normal">You can relay on our amazing features list and also our customer
                    services will be great experience for you without doubt and in no-time</h6>
            </div>
        </div>
        <div class="row">
            <!-- column  -->
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row" id="hey">
                    <div class="col-md-12" id="team-member">
                        <img src="media/team1.jpg"
                            alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                            <h6 class="subtitle">Property Specialist</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great
                                experience.</p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12 pro-pic">
                        <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg"
                            alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                            <h6 class="subtitle">Property Specialist</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great
                                experience.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                                            class="icon-social-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                                            class="icon-social-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                                            class="icon-social-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                                            class="icon-social-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-4 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12 pro-pic">
                        <img src="media/1odintsov-5912283.jpg"
                            alt="wrapkit" class="img-fluid" />
                    </div>
                    <div class="col-md-12">
                        <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                            <h6 class="subtitle">Property Specialist</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great
                                experience.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                                            class="icon-social-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                                            class="icon-social-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                                            class="icon-social-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                                            class="icon-social-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
        </div>
    </div>
</div>
</section>

{% endblock %}
