{% extends "base.html" %} {% load static %} 


{% block content %}
<!-- Header section-->
<header>
  <div
    class="hero" style=" background-image: url('media/hero img/green-houseplant-background-plant-lovers.jpg');background-size: cover; height: 700px;">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-white">
              Which plant is perfect for me?
            </h1>
            <div class="my-5">
              <h4><a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3" style="background-color:#3e3004" >Plant search</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
  </div>
</header>
<!--End of the header section--->
<div id="delivery-banner" class="row text-center">
    <div class="col bg-black text-white">
        <h5 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h5>                
    </div>            
</div>
<!-- Icons Grid-->
<section class="page-section" id="services" style="background-color: #f9f5ec">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">How do we work</h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="icons_services">
          <img
            class="mx-auto rounded-circle"
            src="media/Ikons/2i.png"
            alt="..."
          />
          <h4>We say no to the bad quality</h4>
          <p class="text-muted">You know what you order</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icons_services">
          <img
            class="mx-auto rounded-circle"
            src="media/Ikons/1i.png"
            alt="..."
          />
          <h4>Don't worry aboyt replanting</h4>
          <p class="text-muted">Safe delivery of you new plant</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icons_services">
          <img
            class="mx-auto rounded-circle"
            src="media/Ikons/3i.png"
            alt="..."
          />
          <h4>Contact us</h4>
          <p class="text-muted">We will advise and help as much as we can</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <br />
        <p class="large text-muted">
          Where do plants come from and what was their life like before they
          came to your home?
        </p>
        <br />
      </div>
    </div>
  </div>
</section>
<!-- Our services-->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div
        class="col-lg-6 order-lg-2 text-white showcase-img"
        style="
          background-image: url('media/home page img/pexels-tiia-pakk-4350803.jpg');
        "
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Which plant should I choose?</h2>
        <br />
        <p class="lead mb-0">
          We believe that life is better when we are surrounded by plants and we
          will help you find a plant you can handle.
        </p>
      </div>
    </div>
    <div class="row g-0">
      <div
        class="col-lg-6 text-white showcase-img"
        style="background-image: url('media/home page img/1.jpg')"
      ></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Plants for begginers</h2>
        <br />
        <p class="lead mb-0">
          Don't have experience caring for plants? Don't worry! We are here to
          advise you and provide you with the appropriate knowledge.
        </p>
      </div>
    </div>
    <div class="row g-0">
      <div
        class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('media/home page img/hoedesign.jpg')"
      ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Landscape design</h2>
        <br />
        <p class="lead mb-0">
          Do you dream of a house full of beautiful plants? But you don't know
          where to start? Our landscape designer can come to you and select
          plants for your space.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Team members section-->
<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
      <br />
      <h3 class="section-subheading text-muted">
        Lorem ipsum dolor sit amet consectetur.
      </h3>
      <br />
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="team-member">
          <img
            class="mx-auto"
            src="media/Team img/1teamMember.jpg"
            alt="team1"
          />
          <h4>Sarah DaRosa</h4>
          <p class="text-muted">Owner&Lead Designer</p>
          <p class="text-muted">
            She is the founder of Soilmate Plants. She combines her passion with
            her profession and helps not only her friends, but everyone who
            wants to enter the world of plants. She watches over and takes care
            of everything. If you have a task that is impossible to complete,
            contact her!
          </p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Sarah DaRosa Twitter Profile"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Sarah DaRosaFacebook Profile"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Sarah DaRosa LinkedIn Profile"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img
            class="mx-auto"
            src="media/Team img/2temMember.jpg"
            alt="team2"
          />
          <h4>Diana Waterson</h4>
          <p class="text-muted">Plant Sitter</p>
          <p class="text-muted">
            He takes care of our plants. For many years, she had been developing
            her interest in plants in the comfort of her home. If you are
            wondering who replanted and prepared your plant... Here she is! Many
            years of experience in caring for plants and he has been working
            with us for three years and combines business with pleasure
          </p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana Waterson Twitter Profile"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana Waterson Facebook Profile"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana WatersonLinkedIn Profile"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img
            class="mx-auto"
            src="media/Team img/teamMember3.jpg"
            alt="team3"
          />
          <h4>Katy Cutter</h4>
          <p class="text-muted">Logistics&Customer Care</p>
          <p class="text-muted">
            An irreplaceable handyman! She deals with logistics and marketing
            support. Reliable and professional. With kindness and infinite
            patience, she will answer all your plant questions as quickly as
            possible.
          </p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Katy Cutter Twitter Profile"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Katy Cutter Facebook Profile"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Katy Cutter LinkedIn Profile"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
          laboriosam veritatis, quos non quis ad perspiciatis, totam corporis
          ea, alias ut unde.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End of the team members section-->

<!-- Testemonies section (https://mdbootstrap.com/docs/standard/extended/testimonials/)-->

<section style="color: #000; background-color: #f3f2f2;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8 text-center">
                <h3 class="fw-bold mb-4">Testimonials</h3>
                <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                After shopping at Soilmate Plants, we ask our customers for opinions and photos. Here you can see what people who trust
                us think about us and see what plants actually end up in their homes.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card">
                    <div class="card-body py-4 mt-2">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                                class="rounded-circle shadow-1-strong" width="100" height="100" />
                        </div>
                        <h6 class="font-weight-bold my-3">Title</h6>
                        <ul class="list-unstyled d-flex justify-content-center">
                            <li>
                                <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                                <i class="fas fa-star-half-alt fa-sm text-info"></i>
                            </li>
                        </ul>
                        
                        <p class="mb-2">
                            <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                            ad velit ab hic tenetur.
                        </p>
                        <h6 class="font-weight-bold my-3">Name</h6>
                        <h6 class="font-weight-bold my-3">Date</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card">
                    <div class="card-body py-4 mt-2">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(15).webp"
                                class="rounded-circle shadow-1-strong" width="100" height="100" />
                        </div>
                        <h6 class="font-weight-bold my-3">Title</h6>
                        <ul class="list-unstyled d-flex justify-content-center">
                            <li>
                                <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                                <i class="fas fa-star-half-alt fa-sm text-info"></i>
                            </li>
                        </ul>
                        
                        <p class="mb-2">
                            <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                            ad velit ab hic tenetur.
                        </p>
                        <h6 class="font-weight-bold my-3">Name</h6>
                        <h6 class="font-weight-bold my-3">Date</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-0">
                <div class="card">
                    <div class="card-body py-4 mt-2">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(17).webp"
                                class="rounded-circle shadow-1-strong" width="100" height="100" />
                        </div>
                        <h6 class="font-weight-bold my-3">Title</h6>
                        <ul class="list-unstyled d-flex justify-content-center">
                            <li>
                                <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                                <i class="fas fa-star fa-sm text-info"></i>
                            </li>
                            <li>
                                <i class="fas fa-star-half-alt fa-sm text-info"></i>
                            </li>
                        </ul>
                        
                        <p class="mb-2">
                            <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat
                            ad velit ab hic tenetur.
                        </p>
                        <h6 class="font-weight-bold my-3">Name</h6>
                        <h6 class="font-weight-bold my-3">Date</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of testemonies-->
<!-- Newsletter section (from: https: //bootsnipp.com/snippets/eoXRa)-->


<section class="home-newsletter">
    <div class="row d-flex justify-content-center align-items-center rows"
        style="background-image: url('media/hero img/monstera.jpg')" id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="single">
                    <div class="text-center">
                        <h1 class="text-white">Want to receive a free first delivery?</h1>
                    
                        <h5 class="subscribe d-block mt-3 text-white">Subscribe to our newsletter in order not to miss new arrivals <br />
                            promotions and discounts of our store</h5>
                    <br>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email">
                        <span class="input-group-btn">
                            <button class="btn btn-theme" type="submit">Subscribe</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of newsletter section-->
{% endblock %}
