html {
    height: 100%;
}

body {
    background-image: url('/media/Hero3.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}
/*header*/

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}
.nav-link img{
    width: 400px;
    height: 200px;
    display: block;
    padding-bottom: -30px;
    margin-top: -30px;
    background-color: #8DB74E;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

.showcase text {
        padding: 3rem;
    }

    .showcase-img {
        min-height: 30rem;
        background-size: cover;
    }

    @media (min-width: 768px) {
        .showcase-text {
            padding: 7rem;
        }
    }

/*Our services*/

.features-icons img{

    width: 30rem;
    height: 15rem;
}
/*..........................................Our services*/

#services{

    padding-top: 40px;
}
.icons_services{
margin-bottom: 1rem;
text-align: center;


}
.icons_services img {
    width: 19rem;
    height: 19rem;
    object-fit: cover;
}

.icons_services h4,
.icons_services .h4 {
    margin-top: -35px;
    margin-bottom: 0;
}

/*..........................................Team members section*/

#team{
    padding-top: 40px;
    padding-bottom: 30px;
}
.team-member {
    margin-bottom: 3rem;
    text-align: center;
    
}

.team-member img {
    width: 20rem;
    height: 30rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.team-member h4,
.team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.img-brand {
    height: 2.75rem;
}

/*................................................Footer*/

#footer .container{
    background-color: #8DB74E;
}