html {
    height: 100%;
}

body {
    background: url('../media/pexels-carolina-gusmund-3826054.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

.showcase text {
        padding: 3rem;
    }

    .showcase-img {
        min-height: 30rem;
        background-size: cover;
    }

    @media (min-width: 768px) {
        .showcase-text {
            padding: 7rem;
        }
    }
/*..........................................Team members section*/

/*from: https://snippets.wrappixel.com/bootstrap-team-section/*/
.team3 {
  
    font-weight: 300;
}

#team-member {
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}
#hey{
    background-color: aqua;
}
.team3 .font-weight-medium {
    font-weight: 500;
}

.team3 .bg-light {
    background-color: #f4f8fa !important;
}

.team3 .subtitle {
    color: #8d97ad;
    line-height: 24px;
    font-size: 13px;
}

.team3 ul {
    margin-top: 30px;
}

.team3 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team3 .title {
    margin: 30px 0 0 0;
}

.team3 .subtitle {
    margin: 0 0 20px 0;
    font-size: 13px;
}

