<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Home -->
        <li class="nav-item dropdown">
            <a class="main logo-font font-weight-bold nav-link text-white mr-5" href="/" id="konowlage-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
            <div class="dropdown-menu border-0" aria-labelledby="konowlage-link">
                <a href="/#PlantQuality" class="dropdown-item">Plants Quality</a>
                <a href="/#Repotting" class="dropdown-item">Repotting</a>
                <a href="/#Delivery" class="dropdown-item">Delivery</a>
                <a href="/#Newsletter" class="dropdown-item">Newsletter</a>
            </div>
        </li>

        <!-- Our Plants -->
    <li class="nav-item dropdown">
        <a class="main logo-font font-weight-bold nav-link text-white mr-5" href="#" id="clothing-link"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Plants</a>
        <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
            <a href="/products/?category=Exotic,Beginners%20friendly,Potted%20plants,Monsters,Potted%20trees,Hanging%20Plants"
                class="dropdown-item">All Plants</a>
            <a href="/products/?category=Potted%20trees" class="dropdown-item">Potted trees</a>
            <a href="/products/?category=Potted%20plants" class="dropdown-item">Potted plants</a>
            <a href="/products/?category=Hanging%20Plants" class="dropdown-item">Hanging Plants</a>
            <a href="/products/?category=Beginners%20friendly" class="dropdown-item">For Beginners</a>
            <a href="/products/?category=Exotic" class="dropdown-item">Exotic</a>
            <a href="/products/?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
        </div>
    </li>
        <!-- About Us -->
        <li class="nav-item dropdown">
            <a class="main logo-font font-weight-bold nav-link text-white mr-5" href="/about" id="about-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About us</a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="/about#Company" class="dropdown-item">Company</a>
                <a href="/about#team" class="dropdown-item">Our Team</a>
                <a href="/about#gallery" class="dropdown-item">Gallery</a>
            </div>
        </li>

        <!-- Blog -->
        <li class="nav-item">
            <a class="nav-link active main logo-font font-weight-bold nav-link text-white mr-5" aria-current="page"
                href="/blog/blog/" id="blog-link">Blog</a>
        </li>

        <!-- Contact -->
        <li class="nav-item">
            <a class="nav-link active main logo-font font-weight-bold nav-link text-white mr-5" aria-current="page"
                href="/contact_view/" id="contact-link">Contact</a>
        </li>

        <!-- More -->
        <li class="nav-item dropdown">
            <a class="main logo-font font-weight-bold nav-link text-white mr-5" href="/about" id="more-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
            <div class="dropdown-menu border-0" aria-labelledby="more-link">
                <a href="/reviews/reviews/" class="dropdown-item">Customer Reviews</a>
                <a href="/design" class="dropdown-item">Design services</a>
                <a href="/privacy/" class="dropdown-item">Privacy Policy</a>
            </div>
        </li>
    </ul>
</div>