<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="main logo-font font-weight-bold nav-link text-white mr-5" href="#" id="konowlage-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="konwladge-links">
                <a href="{% url 'home' %}" class="dropdown-item">Plants Quality</a>
                <a href="#Repotting" class="dropdown-item ">Repotting</a>
                <a href="#Delivery" class="dropdown-item ">Delivery</a>
                <a href="{% url 'subscribe' %}" class="dropdown-item">Newsletter</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="main logo-font font-weight-bold nav-link text-white mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Plants</a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=Exotic,Beginners%20friendly,Potted%20plants,Monsters,Potted%20trees,Hanging%20Plants" class="dropdown-item">All Plants</a>
                <a href="{% url 'products' %}?category=Potted%20trees" class="dropdown-item">Potted trees</a>
                <a href="{% url 'products' %}?category=Potted%20plants" class="dropdown-item">Potted plants</a>
                <a href="{% url 'products' %}?category=Hanging%20Plants" class="dropdown-item">Hanging Plants</a>
                <a href="{% url 'products' %}?category=Beginners%20friendly" class="dropdown-item">For Beginners</a>
                <a href="{% url 'products' %}?category=Exotic" class="dropdown-item">Exotic</a>
                <a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
            </div>  
        </li>
        <li class="nav-item dropdown">
            <a class="main logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'about' %}"  id="about-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About us</a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'about' %}" class="dropdown-item">Company</a>
                <a href="#OurTeam" class="dropdown-item ">Our Team</a>
            </div>
        </li>

        <li class="nav-item">
            <a class=" nav-link active main  logo-font font-weight-bold nav-link text-white mr-5"  aria-current="page" href="{% url 'all_blog' %}" id="contact-link">Blog</a>
                </li>
        </li>
<li class="nav-item">
    <a class=" nav-link active main  logo-font font-weight-bold nav-link text-white mr-5"  aria-current="page" href="{% url 'contact' %}" id="contact-link">Contact</a>
        </li>
</li>

<li class="nav-item dropdown">
    <a class="main logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'about' %}"  id="about-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More</a>
    <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
        <a href="{% url 'reviews' %}" class="dropdown-item ">Cusomer Reviews</a>
        <a href="{% url 'design' %}" class="dropdown-item ">Design services</a>
    </div>
</li>
    </ul>
</div>