<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="homeware-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Home</a>
                <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                    <a href="{% url 'products' %}" class="dropdown-item">Our Plants</a>
                    <a href="" class="dropdown-item"></a>
                    <a href="" class="dropdown-item ">By Size</a>
                    <a href="" class="dropdown-item ">By Types</a>
                </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Plants</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">All Plants</a></li>
                <li>
                    <a class="dropdown-item" href="#">Categories &raquo;</a>
                    <ul class="dropdown-menu dropdown-submenu">
                        <li>
                            <a class="dropdown-item" href="#">Monsters</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Potted trees</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Potted plants</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Hanging Plants</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Beginners friendly</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Exotic</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">For the terrace</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li>
                                    <a class="dropdown-item" href="#">Multi level 1</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Multi level 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Submenu item 4</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Submenu item 5</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Species &raquo;</a>
                    <ul class="dropdown-menu dropdown-submenu">
                        <li>
                            <a class="dropdown-item" href="#">Monsters</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Potted trees</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Potted plants</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Hanging Plants</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Beginners friendly</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Exotic</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">For the terrace</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Plants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">Our Plants</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Size</a>
                <a href="" class="dropdown-item ">By Types</a>
                <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                <ul class="dropdown-menu dropdown-submenu">
                    <li>
                        <a class="dropdown-item" href="#">Submenu item 1</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Submenu item 1</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Company</a>
                <a href="" class="dropdown-item">Plants quality</a>
                <a href="" class="dropdown-item">Replanting</a>
                <a href="" class="dropdown-item">Delivery</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Basic knowledge
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Light</a>
                <a href="" class="dropdown-item">Water</a>
                <a href="" class="dropdown-item">Fertilization</a>
                <a href="" class="dropdown-item">Flowerpots</a>
            </div>
        </li>
<li class="nav-item dropdown">
    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Blog</a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li>
            <a class="dropdown-item" href="#">Another action</a>
        </li>
        <li>
            <a class="dropdown-item" href="#">
                Submenu &raquo;
            </a>
            <ul class="dropdown-menu dropdown-submenu">
                <li>
                    <a class="dropdown-item" href="#">Submenu item 1</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Submenu item 2</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                    <ul class="dropdown-menu dropdown-submenu">
                        <li>
                            <a class="dropdown-item" href="#">Multi level 1</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Multi level 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Submenu item 4</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Submenu item 5</a>
                </li>
            </ul>
        </li>
    </ul>
</li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Landscape designer
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Space arrangement</a>
                <a href="" class="dropdown-item">Selection of accessories</a>
                <a href="" class="dropdown-item">Plants preparation</a>
                <a href="" class="dropdown-item">Delivery&training</a>
            </div>
        </li>
    </ul>
</div>