{% extends "base.html" %} {% load static %} {% block content %}


<header class="py-5"></header>
<br>
<section style="color: #000; background-color: #f3f2f2;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8 text-center">
                <h2 class="fw-bold mb-4">Welcome to the Soilmate Plants blog</h2>
                <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                    Check the most useful information about plant care, and all the tips and tricks. We hope you will like it and learn a lot together with us.                 </p>
            </div>
        </div>
        <div class="text-center">
            {% if request.user.is_superuser %}
            <a href="{% url 'add_post' %}" class="mx-2 btn text-center btn btn-success">Add new post</a>
        {% endif %}
        </div>
        <br>
        <div class="row text-center">
            {% for post in blog_posts %}
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="card mb-4 border-0 shadow rounded bg-white" >
                        <div class="card-body py-4 mt-2" >
                            <div class="d-flex justify-content-center mb-4" id="Blog_post" >
                                <a href="{% url 'blog_post_detail' post.slug %}" class="post-link">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="shadow-1-strong" width="200" height="200" src="{{ MEDIA_URL }}NoIMG.jpg" alt="{{ post.title }} Image">
                                {% else %}
                                    <img class=" shadow-1-strong" width="200" height="200" src="{{ post.featured_image.url }}" alt="{{ post.title }} Image">
                                {% endif %}
                            </a>
                            </div>
                            <p class="mb-2">
                                <h2 class="font-monospace my-3 ">{{ post.title | slice:":20" | safe}}</h2>
                            </p>
                            {% for categ in post.categories.all %}
                            <h4 style="text-decoration: none; color: rgb(53, 62, 43)">
                                <i class="fa fa-leaf"></i>
                                <a class="text-muted" href="{% url 'all_blog' %}?category={{ categ }}">{{ categ }}</a>
                            </h4>
                            {% endfor %}
                                <h6 class="my-3"> {{ post.content | slice:":50" | safe }}...</h6>
                                <h6 class="my-3"> {{ post.created_on }} <span><i class="fa fa-calendar"></i></span></h6>
                            
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
   
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}" class="mx-2 btn text-center btn btn-success">&laquo; PREV</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" class="mx-2 btn text-center btn btn-success">NEXT &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</section>
{% endblock %}

